@tailwind base;
@tailwind components;
@tailwind utilities;

.imgshadow {
    box-shadow: -19px -53px 0px -19px #56abe4;
    -webkit-box-shadow: -19px -53px 0px -19px #56abe4;
    -moz-box-shadow: -19px -53px 0px -19px #56abe4;
}

.PhoneInputInput{
    border: none;
    outline: none;
    background: none;
    
}

.react-tel-input .form-control {
  background:white;
  color:#000;
  border:none;
  outline: none;
  width: 100% !important;
  /* padding: none !important; */
}

.react-tel-input{
 width: 63% !important;
 padding: 0 !important;
}

.phoneitem .react-tel-input{
  background: none !important;
  width: 100% !important;
}
.phoneitem .react-tel-input .form-control {
  background: transparent !important;
  color: white !important;
}

.phoneitem .react-tel-input .flag-dropdown {
  background: transparent !important;
  border: none !important;
  columns: black !important;
  
}

.phoneitem .react-tel-input .flag-dropdown.open {
  background: transparent !important;
  border: none !important;
  color: black !important;
  
}

.PhoneInput{
    background-color: #fff;
    border-radius: 5px;
}

/* styles/globals.css or styles/YourComponent.module.css */
@keyframes moveUpAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Adjust the value for how high you want it to move up */
    }
  }
  
  .animate-up-down {
    animation: moveUpAndDown 2s ease-in-out infinite; /* Change 2s to control the duration */
  }
  